html,body {
    height:100%;
    width:100%;
    margin:0;
    background-color: whitesmoke;
  }

body {
    display: flex;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }


form {
    margin: auto;
}

li {
    text-align: center;
    width: 250px;
    margin: 0 auto;
}
