<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fetch Rewards Coding Assessment</title>
    <link rel="stylesheet" href="static/style.css" />
</head>
<body>
    <form action="/" method="post">
        <ul>
            <li>
                <label for="img_dim">Image dimensions</label><br>
                <input type="text" id="img_dim" name="img_dim">
            </li>
            <li>
                <label for="corner_points">Corner points</label><br>
                <textarea id="corner_points" name="corner_points"></textarea>
            </li>
            <li>
                <input type="submit" value="Submit">
            </li>
        </ul>
      </form>
</body>
</html>